extends layout

block content
  :markdown-it(linkify langPrefix='highlight-')
    ## a *really* simple continuous integration and deployment server for codesbases which use git and docker

    Experimental Farm establishes a contract between developers and operations. It formalizes a pattern where git branches are protected by tests and which deploy when the branch is updated. For a given branch, EF will do 2 things:
    - **integrate**: tentavily merge the target branch into HEAD, build docker and run integrations, recording the results by git commit
    - **deploy**: pull changes to the HEAD, run the deployments, recording the results by git commit

    EF commits the results of tests directly into the source code. If you are unable to afford a `.gitignore` file, a `.gitignore` file will be provided to you.

  table
    thead
      tr
        th cid
        th HEAD
        th requests pulls to

    tbody
      each cid in cIDs
        tr
          td
            a(href=`/cid/${repo2Path(cid.name)}`)= cid.name
          td
            table
              thead
                tr
                  th integration
                  th deployment
                  th
              tbody
                tr
                  td
                    if cid.integrationResult
                      |success
                  td
                    if cid.deploymentResult
                      |success
                  td
                    a(href=`/cid/${repo2Path(cid.name)}/${cid.branch}`) sha
          td= cid.pullAgainst
