doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1
      a(href='/') MechaDevops
    h2 getting started
    ol
      li Add me as a collaborator on your GH project.
      li Setup a webhook to the xxx.token for the repo.
      li Create a CICD on MechaDevops for a branch and repo.
      li Open a PR and I will take it from there!
    block content
